h1{color: #ccff66; font-family:Cooper Std;}
body{background-color: #cc9999;margin-left: 150}
p{font-family: Helvetica; font-style: italics;}
ul{border-style: dotted; border-color: #cc0000; border: 2pt; background-color: aquamarine; padding: 20px}
